---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getTags } from "../utils/getTags";
import { upperFirst } from "../utils/upperFirst";

const recipes = await getCollection("recipes");

const tags = getTags(recipes);
---

<Layout>
  <header>
    <h1>Marcus' cookbook 🍳</h1>
    <p>Marcus's collected recipes. What do you feel like cooking?</p>
  </header>
  <main>
    <h2>Latest recipes</h2>
    <ul>
      {
        recipes.map((recipe) => (
          <li>
            <a href={`/${recipe.slug}`}>{recipe.data.title}</a>
          </li>
        ))
      }
    </ul>
    <h2>Tags</h2>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{upperFirst(tag)}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
